.message {
  display: flex;
  align-items: center;
  padding: 20px;
  color: var(--white-color);
}

.message__info {
  margin-left: 20px;
}

.message__timestamp {
  color: var(--gray-color);
  margin-left: 20px;
  font-size: x-small;
}
